---
import "./MenuMobile.scss";
import type { MenuMobileProps } from "./MenuMobile.ts";
import RunnerLink from "../RunnerLink/RunnerLink.astro";

export interface Props extends MenuMobileProps {}

const props: Props = Astro.props;
---

<div class="MenuMobile">  
  <button class="MenuMobile__Toggle" aria-label="Toggle menu">
    <span class="MenuMobile__Hamburger"></span>
    <span class="MenuMobile__Hamburger"></span>
    <span class="MenuMobile__Hamburger"></span>
  </button>

  <nav class="MenuMobile__Nav">
    <ul>
      <li>
        <RunnerLink href="#home" up="Home" down="Home"></RunnerLink> 
      </li>
      <li>
        <RunnerLink href="#about" up="Me" down="Me"></RunnerLink> 
      </li>
      <li>
        <RunnerLink href="#projects" up="Projects" down="Projects"></RunnerLink>
      </li>
      <li>
        <RunnerLink href="#contact" up="What's up?" down="Contact"></RunnerLink>
      </li>
    </ul>

    <button class="MenuMobile__CloseButton" aria-label="Chiudi menu">
      <span class="MenuMobile__CloseIcon"></span>
    </button>
  </nav>
  
</div>

<script src="./MenuMobile.client.ts"></script> 