---
// import "./MenuMobile.scss";
import type { MenuMobileProps } from "./MenuMobile.ts";


export interface Props extends MenuMobileProps {}

const props: Props = Astro.props;
---

<div class="MenuMobile">  
  <span></span>
  <span></span>
</div>

<script src="./MenuMobile.client.ts"></script> 