---
// import "./HomeCards.scss";
import type { HomeCardsProps } from "./HomeCards.ts";
import CodeCard from "../CodeCard/CodeCard.astro";
import Button from "../Button/Button.astro";
import Heading from "../Heading/Heading.astro";

export interface Props extends HomeCardsProps {}

const props: Props = Astro.props;
---

<div class="HomeCards" id="about"> 
    <section class="HomeCards__Wrapper"> 
        <Heading tag="h2" class="Heading3">About me</Heading>
        <div class="HomeCards__Pinned">
            <div class="HomeCards__Container">
                <CodeCard color="Yellow" title="Gsap Lover">
                    <div slot="top-left">
                        <img src="/m.svg" alt="Illustrazione rappresentativa della lettera M" />
                    </div>
                    <div slot="top-right">
                        <img src="/s.svg" alt="Illustrazione rappresentativa della lettera S" />
                    </div>
                    <div slot="logo">
                        <svg width="321" height="312" viewBox="0 0 321 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M158.956 310.578C16.9771 310.578 -6.34741 209.423 2.714 160.426L318.931 160.426C322.426 209.423 300.936 310.578 158.956 310.578Z" fill="#FD6841"/>
                            <path d="M319.862 159.426L319.929 160.354C321.687 185.007 317.168 222.801 294.308 254.461C271.407 286.176 230.212 311.578 158.956 311.578C87.705 311.578 46.0474 286.179 23.3808 254.457C0.753225 222.789 -2.84139 184.966 1.73045 160.244L1.88182 159.426L319.862 159.426ZM3.55174 161.426C-0.709096 185.715 2.9935 222.484 25.0088 253.295C47.2339 284.399 88.2284 309.578 158.956 309.578C229.679 309.578 270.22 284.402 292.686 253.29C314.906 222.516 319.553 185.782 317.995 161.426L3.55174 161.426Z" fill="black"/>
                            <path d="M319.885 160.031C319.885 199.094 248.701 230.76 160.89 230.76C73.08 230.76 1.89575 199.094 1.89575 160.031C1.89575 120.968 73.08 89.3011 160.89 89.3011C248.701 89.3011 319.885 120.968 319.885 160.031Z" fill="black"/>
                            <path d="M159.984 54.529C159.984 84.6445 136.083 109.058 106.599 109.058C77.1152 109.058 53.2139 84.6445 53.2139 54.529C53.2139 24.4135 77.1152 0 106.599 0C136.083 0 159.984 24.4135 159.984 54.529Z" fill="#47CC57"/>
                            <path d="M158.984 54.5293C158.984 24.946 135.51 1 106.599 1C77.6872 1.00015 54.2139 24.946 54.2139 54.5293C54.214 84.1124 77.6873 108.057 106.599 108.058V109.058L105.909 109.054C76.9728 108.679 53.5841 84.7898 53.2178 55.2334L53.2139 54.5293C53.2139 24.4139 77.115 0.000149531 106.599 0L107.289 0.00488281C136.455 0.382322 159.984 24.6491 159.984 54.5293L159.979 55.2334C159.61 85.0243 135.852 109.058 106.599 109.058V108.058C135.51 108.058 158.984 84.1125 158.984 54.5293Z" fill="black"/>
                            <path d="M266.754 54.529C266.754 84.6445 242.853 109.058 213.369 109.058C183.885 109.058 159.984 84.6445 159.984 54.529C159.984 24.4135 183.885 0 213.369 0C242.853 0 266.754 24.4135 266.754 54.529Z" fill="#47CC57"/>
                            <path d="M265.755 54.5293C265.755 24.946 242.28 1 213.369 1C184.457 1.00015 160.984 24.946 160.984 54.5293C160.984 84.1124 184.457 108.057 213.369 108.058V109.058L212.679 109.054C183.743 108.679 160.354 84.7898 159.988 55.2334L159.984 54.5293C159.984 24.4139 183.885 0.000149531 213.369 0L214.059 0.00488281C243.225 0.382322 266.755 24.6491 266.755 54.5293L266.75 55.2334C266.38 85.0243 242.622 109.058 213.369 109.058V108.058C242.28 108.058 265.754 84.1125 265.755 54.5293Z" fill="black"/>
                            <path d="M245.864 54.1339C245.864 72.6833 231.142 87.7206 212.982 87.7206C194.822 87.7206 180.1 72.6833 180.1 54.1339C180.1 35.5844 194.822 20.5472 212.982 20.5472C231.142 20.5472 245.864 35.5844 245.864 54.1339Z" fill="#FFED38"/>
                            <path d="M267.528 163.587C267.528 193.703 243.626 218.116 214.142 218.116C184.659 218.116 160.757 193.703 160.757 163.587C160.757 133.472 184.659 109.058 214.142 109.058C243.626 109.058 267.528 133.472 267.528 163.587Z" fill="#47CC57"/>
                            <path d="M159.984 163.587C159.984 193.702 136.083 218.116 106.599 218.116C77.1152 218.116 53.2139 193.702 53.2139 163.587C53.2139 133.471 77.1152 109.058 106.599 109.058C136.083 109.058 159.984 133.471 159.984 163.587Z" fill="#47CC57"/>
                        </svg>
                    </div>
                </CodeCard>
                <CodeCard color="Green" title="Precision nerd">
                    <div slot="top-left">
                        <img src="/m.svg" alt="Illustrazione rappresentativa della lettera M" />
                    </div>
                    <div slot="top-right">
                        <img src="/s.svg" alt="Illustrazione rappresentativa della lettera S" />
                    </div>
                    <div slot="logo">
                        <svg width="320" height="320" viewBox="0 0 320 320" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_55)">
                            <path d="M320 160C320 248.366 248.366 320 160 320C71.6344 320 0 248.366 0 160C0 71.6344 71.6344 0 160 0C248.366 0 320 71.6344 320 160Z" fill="#FF94F2"/>
                            <path d="M318 160C318 72.739 247.261 2 160 2C72.739 2 2 72.739 2 160C2 247.261 72.739 318 160 318V320C71.6344 320 0 248.366 0 160C0 71.6344 71.6344 0 160 0C248.366 0 320 71.6344 320 160C320 248.366 248.366 320 160 320V318C247.261 318 318 247.261 318 160Z" fill="black"/>
                            <path d="M318 160C318 204.735 247.261 241 160 241C72.739 241 2 204.735 2 160C2 115.265 72.739 79 160 79C247.261 79 318 115.265 318 160Z" fill="black"/>
                            <path d="M232.5 111C260.943 111 284 134.057 284 162.5V165.5C284 193.943 260.943 217 232.5 217C204.057 217 181 193.943 181 165.5V162.5C181 134.057 204.057 111 232.5 111Z" fill="#FFED38"/>
                            <path d="M233 137C247.359 137 259 148.641 259 163V164C259 178.359 247.359 190 233 190C218.641 190 207 178.359 207 164V163C207 148.641 218.641 137 233 137Z" fill="#47CC57"/>
                            <path d="M94.5 111C122.943 111 146 134.057 146 162.5V165.5C146 193.943 122.943 217 94.5 217C66.0573 217 43 193.943 43 165.5V162.5C43 134.057 66.0573 111 94.5 111Z" fill="#FFED38"/>
                            <path d="M95 137C109.359 137 121 148.641 121 163V164C121 178.359 109.359 190 95 190C80.6406 190 69 178.359 69 164V163C69 148.641 80.6406 137 95 137Z" fill="#47CC57"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_55">
                            <rect width="320" height="320" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </div>
                </CodeCard> 

                <CodeCard color="Blue" title="Scss Addicted">
                    <div slot="top-left">
                        <img src="/m.svg" alt="Illustrazione rappresentativa della lettera M" />
                    </div>
                    <div slot="top-right">
                        <img src="/s.svg" alt="Illustrazione rappresentativa della lettera S" />
                    </div>
                    <div slot="logo">
                        <svg width="320" height="331" viewBox="0 0 320 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 167.366C0 81.4939 69.6132 11.8807 155.485 11.8807L164.515 11.8807C250.387 11.8807 320 81.4939 320 167.366V167.366C320 253.238 250.387 322.852 164.515 322.852H155.485C69.6132 322.852 0 253.238 0 167.366V167.366Z" fill="#FFED38"/>
                            <path d="M164.515 320.852V322.852H155.485V320.852H164.515ZM318 167.366C318 82.5985 249.282 13.8807 164.515 13.8807L155.485 13.8807C70.7178 13.8807 2.00004 82.5985 2 167.366C2 252.134 70.7177 320.851 155.485 320.852V322.852L153.476 322.839C69.1985 321.771 1.08023 253.653 0.0126953 169.376L0 167.366C4.09215e-05 82.1648 68.5297 12.9694 153.476 11.8934L155.485 11.8807L164.515 11.8807L166.524 11.8934C251.47 12.9694 320 82.1648 320 167.366L319.987 169.376C318.92 253.653 250.801 321.771 166.524 322.839L164.515 322.852V320.852C249.282 320.851 318 252.134 318 167.366Z" fill="black"/>
                            <path d="M179.705 53.4988C179.705 23.8628 212.753 0 252.718 0V2.30929C244.648 2.30929 237.731 7.31279 237.731 13.4709V14.6256V113.156C237.731 138.943 212.753 160.497 179.705 165.5C212.753 170.503 237.731 192.057 237.731 217.844L237.731 316.759V317.914C237.731 323.687 244.648 328.691 252.718 328.691V331C212.753 331 179.705 307.137 179.705 277.501V177.816C179.705 171.658 173.172 166.655 164.718 166.655V164.345C173.172 164.345 179.705 159.342 179.705 153.569L179.705 53.4988Z" fill="#FF94F2"/>
                            <path d="M108.333 180.399C97.8377 180.399 89.7412 172.383 89.7412 161.992C89.7412 151.601 97.8377 143.288 108.333 143.288C118.829 143.288 127.225 151.601 127.225 161.992C127.225 172.383 118.829 180.399 108.333 180.399ZM108.333 263.528C97.8377 263.528 89.7412 255.512 89.7412 245.121C89.7412 234.73 97.8377 226.417 108.333 226.417C118.829 226.417 127.225 234.73 127.225 245.121C127.225 255.512 118.829 263.528 108.333 263.528Z" fill="#F56E42"/>
                        </svg>    
                    </div>
                </CodeCard> 
                <CodeCard color="Red" title="Php for living">
                    <div slot="top-left">
                        <img src="/m.svg" alt="Illustrazione rappresentativa della lettera M" />
                    </div>
                    <div slot="top-right">
                        <img src="/s.svg" alt="Illustrazione rappresentativa della lettera S" />
                    </div>
                    <div slot="logo">
                        <svg width="334" height="310" viewBox="0 0 334 310" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M144.93 24.3235C167.122 42.0721 180.041 68.9473 180.041 97.3637L180.041 212.149C180.041 245.743 162.269 276.832 133.321 293.878L127.275 297.438C97.6447 314.885 60.3935 312.621 33.0944 291.713V291.713C12.2334 275.736 6.02428e-06 250.958 5.48728e-06 224.681L-3.752e-06 86.9712C-4.20526e-06 64.7922 8.58503 43.4741 23.9557 27.485V27.485C54.7126 -4.50904 104.787 -7.78132 139.446 19.938L144.93 24.3235Z" fill="#19C1E5"/>
                            <path d="M180.028 213.722C179.483 246.712 161.816 277.098 133.32 293.878L127.275 297.438C97.6448 314.885 60.3936 312.621 33.0945 291.713L32.1228 290.958C12.1758 275.216 0.378074 251.32 0.0085351 225.912L-0.000253912 224.682L1.99975 224.682C1.99983 250.335 13.9435 274.527 34.3103 290.126C60.9627 310.539 97.332 312.748 126.26 295.714L132.305 292.154C160.201 275.728 177.494 245.983 178.028 213.688L178.041 212.148L178.041 97.3633C178.041 69.5547 165.398 43.2547 143.68 25.8858L138.197 21.5C104.346 -5.57342 55.4374 -2.37749 25.3972 28.8711C10.3849 44.4875 1.99987 65.3087 1.99975 86.9707L-0.000247893 86.9707L0.00658809 85.9326C0.26595 64.4737 8.55539 43.888 23.24 28.2383L23.9558 27.4854C54.4722 -4.25867 104.006 -7.72822 138.631 19.294L139.446 19.9375L144.929 24.3233C166.775 41.7946 179.635 68.1099 180.031 96.0332L180.041 97.3633L180.041 212.148L180.028 213.722ZM1.99975 224.682L-0.000253912 224.682L-0.000247893 86.9707L1.99975 86.9707L1.99975 224.682Z" fill="black"/>
                            <path d="M143.256 38.6017C163.006 54.3855 174.506 78.2958 174.506 103.579L174.506 205.467C174.506 235.354 158.69 263.01 132.931 278.166L127.554 281.33C101.217 296.826 68.1148 294.815 43.8473 276.243V276.243C25.2831 262.036 14.3951 239.994 14.3951 216.617L14.3951 94.3317C14.3951 74.5983 22.0374 55.6318 35.7188 41.4112V41.4112C63.0653 12.9869 107.564 10.0792 138.377 34.7032L143.256 38.6017Z" fill="#1E1E1E"/>
                            <path d="M154.748 285.122C132.556 267.373 119.637 240.498 119.637 212.082L119.637 97.2968C119.637 63.7021 137.409 32.6138 166.357 15.5675L172.403 12.0077C202.033 -5.44001 239.284 -3.17585 266.584 17.732V17.732C287.445 33.7091 299.678 58.4876 299.678 84.764L299.678 222.474C299.678 244.653 291.093 265.971 275.722 281.96V281.96C244.965 313.954 194.891 317.227 160.232 289.507L154.748 285.122Z" fill="#19C1E5"/>
                            <path d="M119.65 95.7237C120.195 62.7338 137.862 32.3473 166.358 15.5674L172.403 12.0078C202.033 -5.43983 239.284 -3.17542 266.583 17.7325L267.555 18.4873C287.502 34.2298 299.3 58.1252 299.669 83.5333L299.678 84.7637L297.678 84.7637C297.678 59.1099 285.734 34.9179 265.368 19.3194C238.715 -1.09319 202.346 -3.30289 173.417 13.7315L167.373 17.291C139.477 33.7171 122.184 63.4627 121.65 95.7569L121.637 97.2969L121.637 212.082C121.637 239.891 134.28 266.191 155.998 283.56L161.481 287.945C195.332 315.019 244.241 311.823 274.281 280.574C289.293 264.958 297.678 244.137 297.678 222.475L299.678 222.475L299.671 223.513C299.412 244.972 291.123 265.557 276.438 281.207L275.722 281.96C245.206 313.704 195.672 317.174 161.047 290.151L160.232 289.508L154.749 285.122C132.903 267.651 120.043 241.335 119.647 213.412L119.637 212.082L119.637 97.2969L119.65 95.7237ZM297.678 84.7637L299.678 84.7637L299.678 222.475L297.678 222.475L297.678 84.7637Z" fill="black"/>
                            <path d="M185.319 190.49C185.319 180.491 177.185 172.357 167.186 172.357C161.255 172.357 156.172 175.069 152.782 179.305C150.41 182.356 149.054 186.253 149.054 190.49C149.054 200.488 157.188 208.622 167.186 208.622C177.185 208.622 185.319 200.488 185.319 190.49ZM213.618 122.875C213.618 150.497 167.525 151.005 167.525 161.512C167.525 164.223 169.728 166.426 172.44 166.426C173.795 166.426 174.982 165.748 175.829 164.901L176.676 165.579C174.304 168.121 170.915 169.815 167.186 169.815C160.069 169.815 154.477 164.054 154.477 157.106C154.477 140.838 179.557 136.94 183.963 117.791C187.352 103.557 177.524 93.5587 168.881 91.1862C165.322 91.3557 161.933 92.0335 158.714 93.0503C156.172 94.2365 155.494 97.9646 159.9 100.168C166 103.048 170.406 109.318 170.406 116.605C170.406 126.603 162.272 134.737 152.274 134.737C142.276 134.737 134.142 126.603 134.142 116.605C134.142 102.032 153.291 90 172.609 90C195.317 90 213.618 104.743 213.618 122.875Z" fill="#FFED38"/>
                            <path d="M185.319 190.489C185.318 180.647 177.437 172.612 167.654 172.363L167.187 172.357C161.256 172.357 156.172 175.069 152.782 179.306C150.41 182.356 149.054 186.253 149.054 190.489L149.06 190.957C149.305 200.585 157.091 208.371 166.719 208.616L167.187 208.622C177.028 208.622 185.064 200.74 185.313 190.957L185.319 190.489ZM133.142 116.605C133.142 108.857 138.223 101.937 145.574 97.0068C152.945 92.0642 162.757 89 172.61 89C195.653 89.0002 214.618 103.997 214.618 122.875C214.618 137.385 202.466 144.648 190.963 149.532C188.062 150.764 185.161 151.861 182.465 152.888C179.759 153.918 177.268 154.874 175.14 155.838C173.002 156.806 171.305 157.749 170.155 158.729C169.009 159.705 168.526 160.609 168.526 161.512C168.526 163.671 170.281 165.427 172.44 165.427V166.427L172.187 166.42C169.676 166.292 167.659 164.275 167.531 161.765L167.526 161.512C167.526 151.088 212.901 150.505 213.61 123.518L213.618 122.875C213.618 105.026 195.884 90.4615 173.67 90.0107L172.61 90C153.291 90 134.142 102.032 134.142 116.605L134.148 117.072C134.392 126.7 142.179 134.487 151.807 134.731L152.274 134.737C162.116 134.737 170.152 126.855 170.401 117.072L170.406 116.605C170.406 109.319 166 103.049 159.9 100.168C155.494 97.965 156.171 94.2361 158.713 93.0498C161.933 92.0331 165.322 91.356 168.881 91.1865C177.523 93.559 187.352 103.557 183.963 117.791L183.856 118.237C179.166 137.002 154.477 140.965 154.477 157.106L154.481 157.431C154.649 164.124 160.006 169.638 166.854 169.812L167.187 169.815C170.915 169.815 174.304 168.121 176.676 165.579L175.829 164.901C174.982 165.749 173.795 166.427 172.44 166.427V165.427C173.455 165.427 174.401 164.915 175.121 164.194L175.755 163.562L178.144 165.473L177.407 166.262C174.868 168.983 171.223 170.815 167.187 170.815C159.509 170.815 153.477 164.598 153.477 157.106C153.477 152.749 155.167 149.239 157.692 146.159C160.192 143.109 163.554 140.431 166.947 137.745C173.818 132.303 180.877 126.746 182.989 117.567L182.99 117.56L183.133 116.925C185.918 103.746 176.841 94.4946 168.769 92.1943C165.391 92.3703 162.164 93.0146 159.084 93.9814C158.176 94.4281 157.659 95.2868 157.7 96.1807C157.742 97.0679 158.359 98.2795 160.347 99.2734C166.764 102.313 171.406 108.914 171.406 116.605C171.406 127.156 162.824 135.737 152.274 135.737C141.724 135.737 133.142 127.156 133.142 116.605ZM186.319 190.489C186.319 201.04 177.737 209.622 167.187 209.622C156.636 209.622 148.054 201.04 148.054 190.489C148.054 186.038 149.48 181.923 151.993 178.691L152.001 178.681L152.341 178.268C155.905 174.045 161.129 171.357 167.187 171.357C177.737 171.358 186.318 179.939 186.319 190.489Z" fill="#FFEC52"/>
                            <path d="M19.8502 148.383C19.0169 148.72 19.0169 149.9 19.8502 150.237L121.843 191.496C122.11 191.604 122.285 191.863 122.285 192.151V192.151C122.285 192.652 121.777 192.994 121.313 192.806L16.2865 150.237C15.454 149.899 15.454 148.721 16.2865 148.383L121.313 105.814C121.777 105.626 122.285 105.967 122.285 106.469V106.469C122.285 106.757 122.11 107.016 121.843 107.124L19.8502 148.383Z" fill="#FFED38"/>
                            <path d="M122.285 106.469C122.285 105.967 121.777 105.625 121.312 105.813L16.2861 148.383C15.4539 148.72 15.4541 149.899 16.2861 150.236L121.312 192.806C121.748 192.982 122.222 192.693 122.279 192.243L122.285 192.151C122.285 191.863 122.11 191.604 121.843 191.496L19.8505 150.237C19.0172 149.9 19.0172 148.72 19.8505 148.383L121.843 107.124C122.076 107.03 122.239 106.819 122.276 106.575L122.285 106.469ZM124.285 106.469C124.285 107.503 123.696 108.44 122.78 108.894L122.593 108.978L22.8925 149.31L122.593 189.643L122.78 189.727C123.696 190.18 124.285 191.117 124.285 192.151C124.285 194.011 122.46 195.299 120.728 194.722L120.561 194.659L15.5351 152.09C13.0379 151.077 13.0377 147.542 15.5351 146.529L120.561 103.96L120.728 103.898C122.46 103.321 124.285 104.609 124.285 106.469Z" fill="#FFEC52"/>
                            <path d="M327.434 150.237C328.268 149.9 328.268 148.72 327.434 148.383L225.442 107.124C225.175 107.016 225 106.757 225 106.469V106.469C225 105.967 225.507 105.626 225.972 105.814L330.998 148.383C331.831 148.721 331.831 149.899 330.998 150.237L225.972 192.806C225.507 192.994 225 192.652 225 192.151V192.151C225 191.863 225.175 191.604 225.442 191.496L327.434 150.237Z" fill="#FFED38"/>
                            <path d="M225 192.151C225 192.652 225.508 192.995 225.972 192.806L330.999 150.237C331.831 149.9 331.831 148.721 330.999 148.384L225.972 105.814C225.537 105.638 225.063 105.927 225.005 106.377L225 106.469C225 106.756 225.175 107.016 225.442 107.124L327.434 148.383C328.267 148.72 328.267 149.9 327.434 150.237L225.442 191.496C225.208 191.59 225.045 191.801 225.008 192.045L225 192.151ZM223 192.151C223 191.117 223.588 190.18 224.504 189.726L224.692 189.642L324.392 149.31L224.692 108.977L224.504 108.893C223.588 108.439 223 107.503 223 106.469C223 104.608 224.824 103.321 226.556 103.898L226.723 103.961L331.75 146.53C334.247 147.542 334.247 151.078 331.75 152.091L226.723 194.66L226.556 194.721C224.824 195.299 223 194.011 223 192.151Z" fill="#FFEC52"/>
                        </svg>    
                    </div>
                </CodeCard>
            </div>
        </div>
        <!-- <Button ariaLabel="Vai alla pagina about" href="/about" color="Yellow" showIcon={false}>Discover</Button> -->

    </section>
</div>

<script src="./HomeCards.client.ts"></script>
