---
import "./Menu.scss";
import type { MenuProps } from "./Menu.ts";
import RunnerLink from "../RunnerLink/RunnerLink.astro";

export interface Props extends MenuProps {}

const props: Props = Astro.props;
---

<div class="Menu">
  <nav>
    <ul>
      <!-- <li>
        <RunnerLink href="/" up="Home" down="Home"></RunnerLink> 
      </li> -->
      <!-- <li>
        <RunnerLink href="#about" up="About Me" down="About Me"></RunnerLink> 
      </li> -->
      <!-- <li>
        <RunnerLink href="#projects" up="Projects" down="Projects"></RunnerLink>
      </li> -->
      <li>
        <RunnerLink href="mailto:gregoriferrimargherita@gmail.com" up="What's up?" down="Contact"></RunnerLink>
      </li>
    </ul>
  </nav>
</div>

<script src="./Menu.client.ts"></script>
