.Menu {
  nav {
    display: flex;
    gap: 1rem;
    
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0;
    }

    li {
      list-style: none;

      a {
        background-color: var(--clr-yellow);
        padding: 0 1rem;
        border-radius: 1rem;
      }
    }
  }
}
