.ScrollingCta {
  overflow: hidden;
  // height: 20vh;

  &__Container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__Rows {
    position: relative;
  }

  &__Row {
    overflow: hidden;

    div {
      display: flex;
      white-space: nowrap;
      width: max-content;
      will-change: transform;
    }

    &--Down {
      position: absolute;
      top: 0;
      left: 0;

      div {
        transform: translate(0, 100%);
      }
    }
  }
}
