---
import "./HeroHome.scss";
import Heading from "../Heading/Heading.astro";
import type { HeroHomeProps } from "./HeroHome.ts";

export interface Props extends HeroHomeProps {}

const props: Props = Astro.props;
---

<div class="HeroHome"> 
  <div class="HeroHome__Wrapper">
    <div class="HeroHome__Ciao">
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="146" height="113" viewBox="0 0 146 113" fill="none">
        <path d="M83.25 0H145.5C145.5 6.3 145.5 12.6 145.5 18.9C145.5 25.2 145.5 31.5 145.5 37.8C145.5 44.1 145.5 50.45 145.5 56.85C145.5 66.05 145.5 75.3 145.5 84.6C145.5 93.9 145.5 103.2 145.5 112.5H83.25C83.25 106.4 83.25 100.3 83.25 94.2C83.25 88.1 83.25 82 83.25 75.9C83.25 75.8 83.2 75.75 83.1 75.75C83.1 75.65 83.05 75.6 82.95 75.6H62.4C62.3 75.6 62.25 75.65 62.25 75.75C62.25 75.75 62.25 75.8 62.25 75.9C62.25 82 62.25 88.1 62.25 94.2C62.25 100.3 62.25 106.4 62.25 112.5H0C0 106.5 0 100.5 0 94.5C0 88.5 0 82.5 0 76.5C0 70.5 0 64.5 0 58.5C0 52.5 0 46.5 0 40.5C0 34.5 0 28.5 0 22.5C0 18.7 0 14.95 0 11.25C0 7.45 0 3.7 0 0H62.25C62.25 4.8 62.25 9.65 62.25 14.55C62.25 19.45 62.25 24.35 62.25 29.25C62.25 34.05 62.25 38.9 62.25 43.8C62.25 43.9 62.25 44 62.25 44.1C62.25 44.1 62.3 44.1 62.4 44.1H82.95C83.05 44.1 83.1 44.1 83.1 44.1C83.2 44 83.25 43.9 83.25 43.8C83.25 36.5 83.25 29.2 83.25 21.9C83.25 14.6 83.25 7.3 83.25 0Z" fill="#fff"/>
        </svg>
        <svg class="HeroHome__ILetter" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="53" height="94" viewBox="0 0 53 94" fill="none">
          <path d="M0.464844 93.5C0.464844 88.9 0.464844 84.35 0.464844 79.85C0.464844 75.25 0.464844 70.7 0.464844 66.2C0.464844 61.6 0.464844 57.05 0.464844 52.55C0.464844 50.65 0.464844 48.75 0.464844 46.85C0.464844 44.95 0.464844 43.05 0.464844 41.15C6.26484 41.15 12.0148 41.15 17.7148 41.15C23.5148 41.15 29.3149 41.15 35.1149 41.15C40.9149 41.15 46.6649 41.15 52.3649 41.15C52.3649 46.95 52.3649 52.75 52.3649 58.55C52.3649 64.35 52.3649 70.2 52.3649 76.1C52.3649 81.9 52.3649 87.7 52.3649 93.5H0.464844ZM0.464844 41.15C0.464844 34.35 0.464844 27.55 0.464844 20.75C0.464844 13.95 0.464844 7.2 0.464844 0.5H52.3649C52.3649 3.8 52.3649 7.09999 52.3649 10.4C52.3649 13.7 52.3649 17 52.3649 20.3C52.3649 23.6 52.3649 26.9 52.3649 30.2C52.3649 30.2 52.3148 30.25 52.2148 30.35C43.6148 32.15 34.9648 33.95 26.2648 35.75C17.6648 37.55 9.06484 39.35 0.464844 41.15Z" fill="#fff"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="63" height="113" viewBox="0 0 63 113" fill="none">
          <path d="M0.326172 80.85C0.326172 73.95 0.326172 67.05 0.326172 60.15C0.326172 53.15 0.326172 46.15 0.326172 39.15C0.326172 32.65 0.326172 26.15 0.326172 19.65C0.326172 13.05 0.326172 6.5 0.326172 0H62.5762C62.5762 6.7 62.5762 13.45 62.5762 20.25C62.5762 26.95 62.5762 33.7 62.5762 40.5C62.5762 47.2 62.5762 53.95 62.5762 60.75C62.5762 67.45 62.5762 74.15 62.5762 80.85H0.326172ZM62.5762 80.85V112.5H0.326172V91.95C10.7262 90.05 21.1262 88.2 31.5262 86.4C41.9262 84.6 52.2762 82.75 62.5762 80.85Z" fill="#fff"/>
        </svg>
    </div>
    <!-- <div class="HeroHome__Ciao">
      <svg class="c" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"  width="166" height="122" viewBox="0 0 166 122" fill="none">
        <path d="M82.9795 121.5C75.0795 121.5 67.7795 121 61.0795 120C54.3795 119 48.1795 117.55 42.4795 115.65C36.8795 113.75 31.8295 111.45 27.3295 108.75C22.9295 106.05 19.0295 103 15.6295 99.6C12.2295 96.2 9.3795 92.5 7.0795 88.5C4.8795 84.4 3.22949 80.05 2.12949 75.45C1.02949 70.85 0.479492 66 0.479492 60.9C0.479492 52.6 1.82948 45.15 4.52948 38.55C7.22948 31.95 11.0295 26.25 15.9295 21.45C20.9295 16.65 26.8295 12.65 33.6295 9.45C40.5295 6.25 48.1295 3.9 56.4295 2.39999C64.7295 0.799997 73.5795 0 82.9795 0C99.5795 0 113.68 2 125.28 6C136.88 10 146.029 15.75 152.729 23.25C159.529 30.75 163.779 39.85 165.479 50.55L101.729 60.9C101.729 58.6 101.229 56.65 100.229 55.05C99.2295 53.35 97.8795 52 96.1795 51C94.4795 50 92.4795 49.25 90.1795 48.75C87.9795 48.25 85.5795 48 82.9795 48C79.3795 48 76.1795 48.5 73.3795 49.5C70.5795 50.4 68.3295 51.8 66.6295 53.7C65.0295 55.5 64.2295 57.8 64.2295 60.6C64.2295 62.3 64.5295 63.85 65.1295 65.25C65.7295 66.65 66.5795 67.9 67.6795 69C68.7795 70 70.0795 70.85 71.5795 71.55C73.1795 72.15 74.9295 72.65 76.8295 73.05C78.7295 73.35 80.7795 73.5 82.9795 73.5C88.2795 73.5 92.7295 72.45 96.3295 70.35C99.9295 68.15 101.729 65 101.729 60.9L165.479 67.35C164.38 74.75 161.93 81.7 158.13 88.2C154.43 94.7 149.229 100.45 142.529 105.45C135.929 110.45 127.68 114.35 117.78 117.15C107.98 120.05 96.3795 121.5 82.9795 121.5Z" fill="white"/>
      </svg>
      <svg class="HeroHome__ILetter" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="53" height="93" viewBox="0 0 53 93" fill="none">
        <path d="M0.290039 93C0.290039 88.4 0.290039 83.85 0.290039 79.35C0.290039 74.75 0.290039 70.2 0.290039 65.7C0.290039 61.1 0.290039 56.55 0.290039 52.05C0.290039 50.15 0.290039 48.25 0.290039 46.35C0.290039 44.45 0.290039 42.55 0.290039 40.65C6.09004 40.65 11.84 40.65 17.54 40.65C23.34 40.65 29.14 40.65 34.94 40.65C40.74 40.65 46.49 40.65 52.19 40.65C52.19 46.45 52.19 52.25 52.19 58.05C52.19 63.85 52.19 69.7 52.19 75.6C52.19 81.4 52.19 87.2 52.19 93H0.290039ZM0.290039 40.65C0.290039 33.85 0.290039 27.05 0.290039 20.25C0.290039 13.45 0.290039 6.7 0.290039 0H52.19C52.19 3.3 52.19 6.59999 52.19 9.89999C52.19 13.2 52.19 16.5 52.19 19.8C52.19 23.1 52.19 26.4 52.19 29.7C52.19 29.7 52.14 29.75 52.04 29.85C43.44 31.65 34.79 33.45 26.09 35.25C17.49 37.05 8.89004 38.85 0.290039 40.65Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"  width="126" height="102" viewBox="0 0 126 102" fill="none">
        <path d="M10.5016 10.4C17.8016 7.1 25.7015 4.65 34.2015 3.05C42.8015 1.35 51.4015 0.5 60.0015 0.5C68.4015 0.5 76.5016 1.3 84.3016 2.90001C92.1016 4.5 99.0516 6.95 105.152 10.25C111.352 13.55 116.252 17.65 119.852 22.55C123.452 27.45 125.252 33.2 125.252 39.8C125.252 49.5 125.252 59.2 125.252 68.9C125.252 78.6 125.252 88.3 125.252 98C121.752 98 118.252 98 114.752 98C111.252 98 107.752 98 104.252 98C100.752 98 97.2515 98 93.7515 98C90.2515 98 86.7515 98 83.2515 98C79.7515 98 76.2515 98 72.7515 98C72.7515 92.7 72.7515 87.45 72.7515 82.25C72.7515 76.95 72.7515 71.7 72.7515 66.5C72.7515 64.7 72.1515 63.25 70.9515 62.15C69.7515 61.05 68.3016 60.3 66.6016 59.9C64.9016 59.4 63.2015 59.15 61.5015 59.15C57.7015 59.15 54.8016 59.9 52.8016 61.4C50.9016 62.9 49.9515 64.6 49.9515 66.5C49.9515 68.4 50.9515 70.15 52.9515 71.75C54.9515 73.25 57.8015 74 61.5015 74C63.3015 74 65.3516 73.65 67.6516 72.95C69.9516 72.25 71.7016 70.45 72.9016 67.55C70.8016 72.45 68.6515 77.35 66.4515 82.25C64.3515 87.15 62.2516 92.05 60.1516 96.95C56.5516 98.75 52.7515 100 48.7515 100.7C44.8515 101.5 40.9516 101.9 37.0516 101.9C32.3516 101.9 27.8016 101.25 23.4016 99.95C19.1016 98.75 15.2015 96.95 11.7015 94.55C8.30154 92.15 5.60156 89.15 3.60156 85.55C1.60156 81.95 0.601562 77.75 0.601562 72.95C0.601562 70.05 1.10156 67.2 2.10156 64.4C3.10156 61.6 4.60156 58.95 6.60156 56.45C8.60156 53.95 11.1016 51.75 14.1016 49.85C17.2016 47.95 20.8516 46.5 25.0516 45.5C29.2516 44.4 34.0515 43.85 39.4515 43.85C42.9515 43.85 46.3516 44.15 49.6516 44.75C52.9515 45.25 56.0515 46.05 58.9515 47.15C61.9515 48.25 64.6016 49.6 66.9016 51.2C69.3015 52.8 71.2515 54.6 72.7515 56.6C72.7515 56.4 72.7515 56.25 72.7515 56.15C72.7515 55.95 72.7515 55.8 72.7515 55.7C72.7515 55.5 72.7515 55.35 72.7515 55.25C72.7515 52.15 71.9516 49.5 70.3516 47.3C68.8516 45 66.7516 43.15 64.0516 41.75C61.4516 40.25 58.4015 39.15 54.9016 38.45C51.5016 37.75 47.9016 37.4 44.1016 37.4C38.2016 37.4 32.2515 38.15 26.2515 39.65C20.2515 41.15 15.0016 43.35 10.5016 46.25V10.4Z" fill="white"/>
      </svg>
      <svg class="HeroHome__OLetter" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"  width="136" height="103" viewBox="0 0 136 103" fill="none">
        <path d="M68.0322 102.5C61.8322 102.5 55.8322 102.05 50.0322 101.15C44.2322 100.25 38.8322 98.9 33.8322 97.1C28.8322 95.2 24.2823 92.85 20.1823 90.05C16.0823 87.25 12.5823 84 9.68225 80.3C6.78225 76.5 4.53225 72.25 2.93225 67.55C1.33225 62.75 0.532227 57.45 0.532227 51.65C0.532227 44.85 1.63221 38.75 3.83221 33.35C6.13221 27.85 9.33225 23.05 13.4323 18.95C17.6323 14.85 22.5322 11.45 28.1322 8.75C33.7322 5.95 39.8822 3.9 46.5822 2.59999C53.3822 1.19999 60.5322 0.5 68.0322 0.5C77.4322 0.5 86.1822 1.6 94.2822 3.8C102.482 5.9 109.632 9.1 115.732 13.4C121.932 17.6 126.782 22.9 130.282 29.3C133.782 35.7 135.532 43.15 135.532 51.65C135.532 60.15 133.782 67.6 130.282 74C126.782 80.3 121.932 85.6 115.732 89.9C109.632 94.1 102.482 97.25 94.2822 99.35C86.1822 101.45 77.4322 102.5 68.0322 102.5ZM68.1823 62.75C74.3822 62.75 78.7822 61.55 81.3822 59.15C83.9822 56.75 85.2822 54.15 85.2822 51.35C85.2822 50.05 84.9822 48.75 84.3822 47.45C83.7822 46.15 82.8322 44.95 81.5322 43.85C80.2322 42.75 78.4822 41.9 76.2822 41.3C74.0822 40.6 71.3823 40.25 68.1823 40.25C64.9823 40.25 62.2323 40.6 59.9323 41.3C57.7322 41.9 55.9322 42.75 54.5322 43.85C53.2322 44.95 52.2823 46.15 51.6823 47.45C51.0823 48.75 50.7822 50.1 50.7822 51.5C50.7822 52.9 51.0823 54.3 51.6823 55.7C52.2823 57 53.2823 58.2 54.6823 59.3C56.0823 60.3 57.8822 61.15 60.0822 61.85C62.2822 62.45 64.9823 62.75 68.1823 62.75Z" fill="white"/>
      </svg>
    </div> -->
    <div class="HeroHome__Content">
      <span>I'm</span>
      <h1 class="HeroHome__Title">
        Meg Supernova
      </h1> 
    </div>

    <!-- <Heading tag="h1" class="Heading1 HeroHome__Title">      
      <span>Sono</span>
      <br> 
      Meg Supernova
    </Heading> -->
  </div>


</div>

<script src="./HeroHome.client.ts"></script>
