.HeroHome {
  height: 100vh;
  color: var(--clr-white);
  width: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &::after,
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 40%;
  }

  &::before {
    background-color: var(--clr-blue);
    filter: url(#noiseFilter);
  }

  &__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding: calc(var(--header-height) * 1.5) var(--lateral-padding)
      var(--vertical-padding);
  }

  &__Ciao {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  &__Content {
    span {
      font-size: var(--fs-550);
    }
  }

  &__Title {
    --fs-heading-1: clamp(var(--fs-700), calc(10vw + 1rem), var(--fs-1000));
    font-size: var(--fs-heading-1);
    font-family: var(--ff-logo);
  }

  @media (min-width: 768px) {
    &__Bottom {
      align-items: flex-end;
    }

    &__TitleWrapper {
      .line {
        height: clamp(
          calc(var(--fs-700)),
          calc(15vw - 1rem),
          calc(var(--fs-1000))
        );
      }
    }

    &__Wrapper {
      padding: calc(var(--header-height) + 4rem) var(--lateral-padding)
        var(--vertical-padding);
    }
  }
}

// &__TitleWrapper {
//   width: 100vw;
//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   font-family: var(--ff-logo);
//   gap: 1rem;
// }

// &__Line {
//   // width: auto;
//   flex: 0 1 30%;
//   height: 5rem;
//   position: relative;
//   overflow: hidden;

//   &--Alone {
//     flex: 1 0 100%;
//   }

//   span {
//     position: absolute;
//     font-size: clamp(var(--fs-700), calc(15vw + 1rem), var(--fs-1000));
//     line-height: 4.2rem;
//     font-weight: var(--fw-700);
//     top: 0;
//     left: 50%;
//     transform: translate(-50%, 0);
//     width: 100%;
//   }
// }

// &__Blobs {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// &__Blob {
//   border-radius: 50%;
//   filter: blur(50px);
//   position: absolute;
//   pointer-events: none;

//   &--Yellow {
//     background-color: var(--clr-yellow);
//     opacity: 1;
//   }

//   &:nth-child(1) {
//     width: 40vw;
//     height: 30vw;
//   }

//   &:nth-child(2) {
//     width: 35vw;
//     height: 40vw;
//   }
// }

// &__BlobContainer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// &__Blob {
//   filter: blur(100px);
// }
