.HeroHome {
  height: 100vh;
  color: var(--clr-white);
  width: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-blue);

  &::after,
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 40%;
  }

  &::before {
    background-color: var(--clr-blue);
    filter: url(#noiseFilter);
  }

  &__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: calc(var(--vertical-padding) * 3) var(--lateral-padding)
      var(--vertical-padding);
  }

  &__Blobs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__Blob {
    border-radius: 50%;
    filter: blur(50px);
    position: absolute;
    pointer-events: none;

    &--Yellow {
      background-color: var(--clr-yellow);
      opacity: 1;
    }

    &:nth-child(1) {
      width: 40vw;
      height: 30vw;
    }

    &:nth-child(2) {
      width: 35vw;
      height: 40vw;
    }
  }

  &__BlobContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    &__Bottom {
      align-items: flex-end;
    }

    &__Blob {
      filter: blur(100px);
    }

    &__Wrapper {
      padding: calc(var(--header-height) + 4rem) var(--lateral-padding)
        var(--vertical-padding);
    }
  }
}
