@import "../styles/animations.scss";

:root {
  --clr-red: #fd6841;
  --clr-blue: #19c1e5;
  --clr-green: #3edc58;
  --clr-yellow: #ffec52;
  --clr-pink: #fc94ef;
  --clr-black: #140f18;
  --clr-white: #fff;

  // clr-opacity 0.3
  --clr-white-30: rgba(255, 255, 255, 0.3);

  // clr-opacity 0.6
  --clr-red-60: rgba(253, 104, 65, 0.6);
  --clr-blue-60: rgba(25, 193, 229, 0.6);
  --clr-green-60: rgba(62, 220, 88, 0.6);
  --clr-yellow-60: rgba(255, 236, 82, 0.6);
  --clr-pink-60: rgba(252, 148, 239, 0.6);
  --clr-black-60: rgba(20, 15, 24, 0.6);
  --clr-white-60: rgba(255, 255, 255, 0.6);

  // clr-opacity 0.8
  --clr-red-80: rgba(253, 104, 65, 0.8);
  --clr-blue-80: rgba(25, 193, 229, 0.8);
  --clr-green-80: rgba(62, 220, 88, 0.8);
  --clr-yellow-80: rgba(255, 236, 82, 0.8);
  --clr-pink-80: rgba(252, 148, 239, 0.8);
  --clr-black-80: rgba(20, 15, 24, 0.8);
  --clr-white-80: rgba(255, 255, 255, 0.8);

  --fs-50: 0.375rem; // 6px
  --fs-100: 0.5rem; // 8px
  --fs-150: 0.625rem; // 10px
  --fs-200: 0.75rem; // 12px
  --fs-300: 0.875rem; // 14px
  --fs-400: 1rem; // 16px
  --fs-450: 1.125rem; // 18px
  --fs-500: 1.25rem; // 20px
  --fs-550: 1.5rem; // 24px
  --fs-600: 1.875rem; // 30px
  --fs-620: 2rem; // 32px
  --fs-650: 2.5rem; // 40px
  --fs-700: 3rem; // 48px
  --fs-720: 3.25rem; // 52px
  --fs-750: 3.5rem; // 52px
  --fs-800: 4rem; // 64px
  --fs-900: 4.5rem; // 72px
  --fs-950: 7rem; // 80px
  --fs-1000: 6rem; // 96px
  --fs-1100: 6rem; // 96px
  --lh-300: 1;
  --lh-400: 1.2;
  --lh-500: 1.4;
  --lh-600: 1.5;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  // --ff-primary: "Rozha One", serif;
  --ff-primary: "Giaza", serif;
  --ff-secondary: "Boldonse", serif;
  --ff-logo: "Melodrama", serif;
  // --ff-tertiary: "Abel", serif;
  --ff-tertiary: "MuseoModerno", serif;
  --ff-body: var(--ff-tertiary);
  --ff-heading: var(--ff-secondary);

  // Font size
  --fs-logo: clamp(var(--fs-550), 6vw, var(--fs-650)); // 24px - 40px
  --fs-title-footer: clamp(var(--fs-450), 20vw, var(--fs-1100)); // 18 a 96px
  --fs-heading-herohome: clamp(
    var(--fs-450),
    25vw,
    var(--fs-1100)
  ); // 18 a 96px
  --fs-heading-404: clamp(var(--fs-950), 25vw, var(--fs-1100)); // 80 a 96px
  --fs-heading-1: clamp(
    var(--fs-700),
    calc(5vw + 1rem),
    var(--fs-1000)
  ); // 48 - 96
  --fs-heading-2: clamp(
    var(--fs-700),
    calc(4.5vw + 1rem),
    var(--fs-900)
  ); // 40 - 72
  --fs-heading-3: clamp(
    var(--fs-620),
    calc(4vw + 1rem),
    var(--fs-800)
  ); // 32 - 64
  --fs-heading-4: clamp(
    var(--fs-550),
    calc(3.5vw + 1rem),
    var(--fs-700)
  ); // 24 - 48
  --fs-heading-5: clamp(
    var(--fs-500),
    calc(2vw + 1rem),
    var(--fs-620)
  ); // 20 - 32
  --fs-heading-6: clamp(
    var(--fs-150),
    calc(2vw + 1rem),
    var(--fs-200)
  ); // 10 - 16
  --fs-subheading-1: clamp(
    var(--fs-620),
    calc(4vw + 1rem),
    var(--fs-700)
  ); // 32 - 48
  --fs-subheading-2: clamp(
    var(--fs-550),
    calc(3.5vw + 1rem),
    var(--fs-620)
  ); // 24 - 32
  --fs-subheading-3: clamp(
    var(--fs-450),
    calc(3vw + 1rem),
    var(--fs-550)
  ); // 18 - 24
  --fs-body: clamp(var(--fs-400), calc(2vw + 0.5rem), var(--fs-450)); // 16 - 18
  --fs-body-small: clamp(var(--fs-300), 4vw, var(--fs-400)); // 14 - 16
  --fs-body-xsmall: clamp(var(--fs-200), 4vw, var(--fs-300)); // 12 - 14
  --fs-body-extra-small: var(--fs-200); // 12

  // Font Weight
  --fw-thin: 100;
  --fw-medium: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  // Header
  --header-height: 4.5rem;
  --lateral-padding: 2rem;
  --vertical-padding: clamp(1.25rem, 3.75rem, 3.75rem);

  // Variables
  --logo-color: var(--clr-white);

  @media (width >= 1024px) {
    --fs-heading-1: clamp(var(--fs-700), 4vw, var(--fs-900));
    --fs-heading-2: clamp(var(--fs-650), 4vw, var(--fs-800));
    --fs-heading-3: clamp(var(--fs-550), 4vw, var(--fs-700));
    --lateral-padding: 6rem;
    --header-height: 7rem;
  }
}

html {
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-300);
  scrollbar-width: none;

  &.overflow-hidden {
    overflow: hidden;
  }

  // --origin-x: calc(var(--click-x, 0.5) * 100%);
  // --origin-y: calc(var(--click-y, 0.5) * 100%);
}

body {
  overscroll-behavior: none;
  background-color: var(--clr-white);
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
}

main {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--clr-white);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
