---
import "./Logo.scss";
import type { LogoProps } from "./Logo.ts";

export interface Props extends LogoProps {}

const props: Props = Astro.props;
---

<div class="Logo">
  <a href="/" class="Logo__Wrapper">
    <div class="Logo__Name">Meg</div> <div class="Logo__Surname">Supernova</div>
  </a> 
</div>

<script src="./Logo.client.ts"></script>
