.Logo {
  width: 13rem;

  &__Wrapper {
    display: flex;
    align-items: flex-start;

    svg {
      height: auto;

      path {
        transition: fill 0.3s ease;
      }
    }

    span {
      padding: 0.15rem;
    }
  }
}
