.Logo {
  font-family: var(--ff-logo);
  font-size: var(--fs-logo);
  color: var(--logo-color);

  &__Wrapper {
    display: flex;
    align-items: center;
    gap: 0.35rem;
  }

  &__Name {
    height: auto;
    position: relative;

    // &::before {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   aspect-ratio: 1;
    //   background-color: var(--clr-yellow);
    //   border-radius: 50%;
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   transform: translate(0%, -50%);
    //   z-index: -1;
    // }
  }
}
