---
import "./Stickers.scss";
import type { StickersProps } from "./Stickers.ts";

export interface Props extends StickersProps {}

const props: Props = Astro.props;
---

<div class="Stickers"> 
  <div class="Stickers__Bg"></div>
  <div class="Stickers__Wrapper">
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/gsapillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/phpillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/htmlillustration.svg"/></div>
    <div class="Stickers__Image"><img class="sticker" src="src/assets/illustrations/scssillustration.svg"/></div>

  </div>
</div>

<script src="./Stickers.client.ts"></script>
