---
import "./Heading.scss";
import type { HeadingProps } from "./Heading.ts";

export interface Props extends HeadingProps {
  tag: string;
  context?: string;
  slot?: any;
}

const { tag, context, slot } = Astro.props;

const classList = [ "Heading", context ? `Heading--${context}` : "",].filter(Boolean).join(" ");
---

<div class="Heading" is={tag} class={classList}>
  {slot}
</div>

<script src="./Heading.client.ts"></script>
