.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--lateral-padding);
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0, 0%);
  z-index: 10;
  margin: 1rem;
  height: var(--header-height);
  background: var(--clr-white-30);
  border-radius: 2.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: height 0.4s ease;

  .HeaderQuotes {
    flex: 0 1 20%;
  }

  .Menu {
    display: none;
  }

  .Logo {
    flex: 0 0 auto;
  }

  @media (min-width: 768px) {
    .Menu {
      display: block;
    }
  }
}
