---
import HeaderQuotes from "../HeaderQuotes/HeaderQuotes.astro";
import Logo from "../Logo/Logo.astro";
import Menu from "../Menu/Menu.astro";
// import MenuMobile from "../MenuMobile/MenuMobile.astro";
// import MobileNavigation from "../MobileNavigation/MobileNavigation.astro";
// import "./Header.scss";
import type { HeaderProps } from "./Header.ts";
import { setupHeader } from "./Header.ts";
setupHeader();

const props: HeaderProps = Astro.props;
---

<div class="Header">
  <div class="Header__Wrapper">
    <Logo />
    <Menu /> 
    <!-- <MenuMobile /> -->
    <HeaderQuotes /> 
  </div> 
  <slot />
  <!-- <MobileNavigation /> -->
</div>
