---
// import "./FooterMenu.scss";
import type { FooterMenuProps } from "./FooterMenu.ts";

export interface Props extends FooterMenuProps {}

const props: Props = Astro.props;
---

<div class="FooterMenu">  
  <nav>
    <ul>
      <slot />
    </ul>
  </nav> 
</div>
