.FooterMenu {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    li {
      list-style: none;

      a {
        width: 100%;
        font-size: var(--fs-body-xsmall);
        display: block;
        text-align: center;
        line-height: var(--lh-300);
        background-color: var(--clr-yellow);
        color: var(--clr-black);
        padding: 0.25rem 1rem;
        border-radius: 1rem;
      }
    }
  }
}
