---
import "./FooterMenu.scss";
import type { FooterMenuProps } from "./FooterMenu.ts";

export interface Props extends FooterMenuProps {}

const props: Props = Astro.props;
---

<div class="FooterMenu">  
  <nav>
   <slot />
  </nav> 
</div>

<script src="./FooterMenu.client.ts"></script>
