---
import "./IconCss.scss";
import type { IconCssProps } from "./IconCss.ts";

export interface Props extends IconCssProps {}

const props: Props = Astro.props;
---

<div class="IconCss"> 
  <slot />
</div>

<script src="./IconCss.client.ts"></script>
