---
import FooterMenu from "../FooterMenu/FooterMenu.astro";
import Heading from "../Heading/Heading.astro";
import RunnerLink from "../RunnerLink/RunnerLink.astro";
import "./Footer.scss";
import type { FooterProps } from "./Footer.ts";

export interface Props extends FooterProps {}

const props: Props = Astro.props;
---

<div class="Footer">
  <div class="Footer__Wrapper">
    <div class="Footer__Top">
      <div>
        <Heading tag="h5" class="Heading6">Explore</Heading>
        <FooterMenu>
          <RunnerLink href="#about" up="Me" down="Me"></RunnerLink> 
          <!-- <RunnerLink href="#projects" up="Projects" down="Projects"></RunnerLink>  -->
          <RunnerLink href="#contact" up="What's up?" down="Contact"></RunnerLink> 
        </FooterMenu>
      </div>
      <div>
        <Heading tag="h5" class="Heading6">Email</Heading>
        <RunnerLink href="mailto:gregoriferrimargherita@gmail.com" up="gregoriferrimargherita@gmail.com" down="gregoriferrimargherita@gmail.com"></RunnerLink>
      </div>
    </div>
    <Heading tag="h2" class="Heading--Footer Footer__Title">      
      <a href="mailto:gregoriferrimargherita@gmail.com">Get in touch</a>
    </Heading>
    <div class="Footer__Bottom">
      <div class="Footer__Copyright">
        <Heading tag="h5" class="Heading6">Copyright</Heading> 
        Margherita Gregori Ferri 2025</div>
      <div class="Footer__Socials">
        <Heading tag="h5" class="Heading6">Follow Me</Heading> 
    
        <FooterMenu>
          <RunnerLink href="https://www.instagram.com/meg_supernova" target="_blank" up="Instagram" down="Instagram" class=""></RunnerLink> 
          <RunnerLink href="hhttps://www.linkedin.com/in/margherita-gregori-ferri-55382752/" target="_blank" up="Linkedin" down="Linkedin"></RunnerLink>
          <RunnerLink href="https://codepen.io/MegSupernova/" target="_blank" up="Codpen" down="Codpen"></RunnerLink>
        </FooterMenu>
      </div>
    </div>
    <div class="Footer__Blobs">
      <div class="Footer__Blob Footer__Blob--Yellow">
      </div>
      <div class="Footer__Blob Footer__Blob--Yellow">
      </div>
    </div>
  </div>

  <svg>
    <filter id='noiseFilter'>
      <feTurbulence 
        type='fractalNoise' 
        baseFrequency='0.6' 
        stitchTiles='stitch'/>
        <feColorMatrix in="colorNoise" type="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" />
          <feComposite operator="in" in2="SourceGraphic" result="monoNoise"/>
          <feBlend in="SourceGraphic" in2="monoNoise" mode="screen" />
    </filter>
  </svg>
</div>

<script src="./Footer.client.ts"></script>
