.Footer {
  height: calc(100vh - var(--header-height));
  background-color: var(--clr-red);
  color: var(--clr-white);

  &__Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--vertical-padding) var(--lateral-padding);
  }

  &__Top,
  &__Bottom {
    height: 25%;
    display: flex;
    justify-content: space-between;
  }

  &__Title {
    height: 50%;
  }
}
