---
// import "./HomeIntro.scss";
import type { HomeIntroProps } from "./HomeIntro.ts";
import Heading from "../Heading/Heading.astro";

export interface Props extends HomeIntroProps {}

const props: Props = Astro.props;
---

<div class="HomeIntro">  
    <div class="HomeIntro__Wrapper">
        <div class="HomeIntro__Container">
            <div class="HomeIntro__Top">
                <Heading tag="h2" class="HomeIntro__Title Heading2">What<br />drives me</Heading>
            </div>
            <div class="HomeIntro__Paragraphs">
                <p class="HomeIntro__Paragraph">Hi, I'm Meg! I’m a Frontend Developer using HTML, SCSS, JS, TS, Laravel, and the Roots ecosystem. I’m always learning something new — right now I’m diving into GSAP to use in the projects I build at work.</p>

                <p class="HomeIntro__Paragraph">My workday always starts with checking out the AWWWARDS of the day; it's a “rule” I’ve set for myself to stay updated with trends, but mostly because it’s my daily dose of beauty.</p>

                <p class="HomeIntro__Paragraph">I have been developing websites for more than 10 years, starting out as a web designer, but my desire to create increasingly beautiful things gradually materialized in coding development.</p>
            </div>
        </div>
    </div> 
</div>
