.RunnerLink {
  --runner-link-height: var(--fs-400);
  --runner-link-line-height: calc(var(--runner-link-height) * 1.5);
  --runner-link-color: var(--clr-white);

  list-style: none;
  display: inline-flex;
  overflow: hidden;
  padding: 0;
  flex-direction: column;
  font-size: var(--runner-link-height);
  height: var(--runner-link-line-height);
  position: relative;
  min-width: max-content;
  text-align: center;
  font-weight: var(--fw-500);

  &__Up,
  &__Down {
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
  }

  &__Up {
    transform: translateY(0%);
  }

  &__Down {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &:hover {
    .RunnerLink__Up {
      transform: translateY(-100%);
    }

    .RunnerLink__Down {
      transform: translateY(0%);
    }
  }
}
