---
import "./MobileNavigation.scss";
import type { MobileNavigationProps } from "./MobileNavigation.ts";
import RunnerLink from "../RunnerLink/RunnerLink.astro";
import Button from "../Button/Button.astro";

export interface Props extends MobileNavigationProps {}

const props: Props = Astro.props;
---

<nav class="MobileNavigation">
  <ul>
    <li>
      <RunnerLink href="/" up="Home" down="Home"></RunnerLink> 
    </li>
    <li>
      <RunnerLink href="#about" up="Me" down="Me"></RunnerLink> 
    </li>
    <!-- <li>
      <RunnerLink href="#projects" up="Projects" down="Projects"></RunnerLink>
    </li> -->
    <li>
      <RunnerLink href="#contact" up="What's up?" down="Contact"></RunnerLink>
    </li>
  </ul>

  <Button href="mailto:gregoriferrimargherita@gmail.com" color="Yellow" showIcon={false}>Get in Touch</Button>
</nav>

<script src="./MobileNavigation.client.ts"></script>
