---
import "./MobileNavigation.scss";
import type { MobileNavigationProps } from "./MobileNavigation.ts";
import RunnerLink from "../RunnerLink/RunnerLink.astro";

export interface Props extends MobileNavigationProps {}

const props: Props = Astro.props;
---

<nav class="MenuMobile__Nav">
  <ul>
    <li>
      <RunnerLink href="#home" up="Home" down="Home"></RunnerLink> 
    </li>
    <li>
      <RunnerLink href="#about" up="Me" down="Me"></RunnerLink> 
    </li>
    <li>
      <RunnerLink href="#projects" up="Projects" down="Projects"></RunnerLink>
    </li>
    <li>
      <RunnerLink href="#contact" up="What's up?" down="Contact"></RunnerLink>
    </li>
  </ul>
</nav>

<script src="./MobileNavigation.client.ts"></script>
